
<ion-view view-title="Carro escolhido">
	<ion-content>
		<div class="card">
		  <div class="item item-divider">
		    Ótima escolha
		  </div>
		  <div class="item item-text-wrap">
		  	{{carroEscolhido.nome}}
		  	<br>
		  	<ul class="list">
			  <li class="item item-toggle" ng-repeat="acessorio in acessorios" >
			     {{acessorio.nome}} - R{{acessorio.preco | currency}}
			     <label class="toggle toggle-assertive">
			       <input type="checkbox" id="arcondicionado" ng-change="mudou(acessorio, acessorioEscolhido)" ng-model ="acessorioEscolhido" >
			       <div class="track">
			         <div class="handle"></div>
			       </div>
			     </label>
			  </li>
			</ul>
		  </div>
		  <div class="item item-divider">
		    Preço: R{{carroEscolhido.preco | currency}}
		  </div>
		</div>

		<a class="button button-positive button-full" href="#/app/finalizarpedido/{{carroEscolhido}}">
			Finalizar pedido
		</a>
	</ion-content>
</ion-view>
